node_modules
client-build
build.txt
config_build.json
config_local*
client/audio/music
.DS_Store
*.swp
/client/img/2/barsheet.xcf
/client/img/1/barsheet.xcf
/Configurationen.xlsx
/~$Configurationen.xlsx
/client/img/3/barsheet.xcf
/client/img/2/inventory.xcf